.footer{
  background-color: black;
  color: white;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.footer-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .container{
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  padding-top: 200px;
  padding-bottom: 60px;
}

.footer-main{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 220px;
}

.footer-main__dudas{
  letter-spacing: 2px;
  width: 50%;
  font-size: 46px;
  line-height: 68px;
  transition: all 0.75s ease;
}

.footer-main__dudas .dudas-title{
  font-family: 'Averta-bold', sans-serif;
}

.footer-main__dudas .dudas-subtitle{
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  text-decoration: none;
}

.footer-main__descubre{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  width: 25%;
  font-family: 'Averta-bold', sans-serif;
  letter-spacing: 2px;
  line-height: 23px;
  transition: all 0.75s ease;
}

.footer-main__descubre a{
  margin-bottom: 10px;
}

.footer-section-title{
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
}

.footer-main__encuentra{
  display: flex;
  flex-direction: column;
  width: 25%;
  font-family: 'Averta-bold', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 23px;
  transition: all 0.75s ease;
}

.footer-main__encuentra a{
  margin-bottom: 10px;
}


.footer-company{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.footer-company p:first-child{
  font-size: 34px;
  margin-bottom: 10px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.footer-law{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1000px){
  .footer-main__dudas{
    font-size: 34px;
    line-height: 45px;
  }
}

@media screen and (max-width: 700px){
  .footer-main{
    flex-direction: column;
    margin-bottom: 60px;
    padding: 0 32px;
  }

  .footer-content .container{
    padding-top: 60px;
  }

  .footer-main__dudas{
    width: 100%;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 60px;
  }

  .footer-main__descubre{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 20px;
    width: 100%;
  }

  .footer-main__encuentra{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    font-size: 20px;
    width: 100%;
  }

  .footer-section-title{
    margin-bottom: 15px;
    font-family: 'Averta-Regular', sans-serif;
  }
}