.Header{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-left: 60px;
  padding-right: 60px; 
  margin-top: 60px;
  margin-bottom: 100px;
}

.Header-title{
  font-size: 26px;
  font-weight: bold;
  color: black;
}

.Header-menu-container{
  display: inline-flex;
  align-items: center;
}

.Header-menu{
  font-size: 24px;
  margin-right: 20px;
}

.burguer-button{
  color: black;
  position: fixed;
  top: 65px;
}

@media screen and (max-width: 700px){
  .Header{
    padding-left: 24px;
    padding-right: 24px; 
  }
}