.projects .container{
  display: flex;
  flex-direction: column;
}

.projects-grid{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.project-item{
  width: 50%;
  transition: all 0.75s ease;
}

.project-item:nth-child(1){
  margin-top: 150px;
  margin-right: 100px;
}

.project-item__banner{
  width: 100%;
}

.project-item__desc{
  margin-top: 30px;
  padding: 0 50px;
}

.name{
  font-size: 20px;
  color: #6F6F6F;
  letter-spacing: -0.02em;
}

.description{
  padding: 13px 0;
  font-size: 28px;
  letter-spacing: 0.02em;
}

.services{
  color: #999999;
  font-size: 15px;
}

.projects-footer{
  margin-top: 100px;
  padding: 0 70px;
  text-align: end;
  font-size: 30px;
  letter-spacing: -0.01em;
}

.link{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1000px){
  .project-item:nth-child(1){
    margin-right: 50px;
  }
}

@media screen and (max-width: 780px){  
  .projects-grid{
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .project-item:nth-child(1){
    margin: 0px;
  }

  .project-item{
    width: 100%;
    margin: 60px 0;
  }

  .project-item__desc{
    margin-top: 25px;
    padding: 0 32px;
  }

  .name{
    font-size: 17px;
  }
  
  .description{
    padding: 10px 0 5px 0;
    font-size: 24px;
  }
  
  .services{
    font-size: 12px;
  }

  .projects-footer{
    margin-top: 60px;
    padding: 0 32px;
    font-size: 20px;
  }
}